#Android Studio / IntelliJ

.idea/
*.iml
.vscode/


#Gradle

.gradle/
build/
**/build/

# Gradle versions catalog
gradle/libs.versions.toml

#Local configuration

local.properties


# Android outputs

*.apk
*.aab

#Kotlin / Java outputs

*.class

#Logs / OS files

*.log
.DS_Store
Thumbs.db

#Firebase / misc generated

google-services.json


#Cache / temp

.alcache/
.snapshots/
.output/

#Test / build artifacts

TestResults.xml


#App artifacts
*.app
rad.json
*.g.xlf
*.flf
