<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name= "android.hardware.camera.any"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion ="28"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Phasmatic">

        <activity
            android:name=".extras.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frontend.register.RegisterActivity"
            android:exported="false" />
        <activity android:name=".frontend.register.RegisterComposeActivity" />

        <activity android:name=".frontend.userinfo.UserInfoActivity" />
        <activity android:name=".frontend.userinfo.UserInfoComposeActivity" />
        <activity android:name=".frontend.modeSelection.ModeSelectionComposeActivity" />
        <activity android:name=".frontend.login.LoginActivity" />
        <activity android:name=".frontend.login.LoginComposeActivity" />
        <activity android:name=".frontend.erasmus.ErasmusChatComposeActivity" />


        <activity
            android:name=".frontend.modeSelection.ModeSelectionActivity"
            android:exported="false" />

        <activity android:name=".frontend.erasmus.ErasmusChatActivity" />

        <activity android:name=".frontend.master.MasterChatActivity" />
        <activity android:name=".frontend.master.MasterChatComposeActivity" />

        <activity android:name=".frontend.questionnaire.QuestionnaireActivity" />
        <activity android:name=".frontend.questionnaire.QuestionnaireComposeActivity"/>

        <activity android:name=".frontend.Profile_Menu.account_settings.AccountActivity" />
        <activity android:name=".frontend.Profile_Menu.account_settings.AccountComposeActivity" />

        <activity android:name=".frontend.Profile_Menu.edit_account_settings.EditProfileActivity" />
        <activity
            android:name=".frontend.Profile_Menu.edit_account_settings.EditProfileComposeActivity"/>

        <activity android:name=".frontend.Profile_Menu.edit_academic_account_settings.EditUserInfoActivity" />
        <activity android:name=".frontend.Profile_Menu.edit_academic_account_settings.EditUserInfoComposeActivity"/>

        <activity android:name=".backend.domain.FaceGuideOverlay"
            tools:ignore="Instantiatable" />

        <activity android:name=".frontend.Forum.forum.ForumActivity" />
        <activity android:name=".frontend.Forum.forum.ForumComposeActivity" />

        <activity android:name=".extras.InternetConnection"
            tools:ignore="Instantiatable" />



        <activity android:name=".frontend.notes.Notes.NotesActivity"/>
        <activity android:name=".frontend.notes.Notes.NotesComposeActivity"
            tools:ignore="MissingClass" />

        <activity android:name=".frontend.notes.add_note.AddNoteActivity"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".frontend.notes.add_note.AddNoteComposeActivity"
            tools:ignore="MissingClass" />

        <activity android:name=".frontend.Forum.new_review.NewReviewActivity" />
        <activity android:name=".frontend.Forum.new_review.NewReviewComposeActivity" />

        <activity android:name=".frontend.Forum.personal_review.ReviewDetailActivity" />
        <activity android:name=".frontend.Forum.personal_review.ReviewDetailComposeActivity" />

        <activity android:name=".frontend.forget.ForgetActivity" />
        <activity android:name=".frontend.forget.ForgetComposeActivity" />

        <activity android:name=".frontend.Profile_Menu.public_profile.PublicProfileActivity" />

        <activity android:name=".frontend.Profile_Menu.public_profile.PublicProfileComposeActivity"/>

        <activity android:name=".frontend.Chat.users_to_chat.UsersActivity" />
        <activity android:name=".frontend.Chat.users_to_chat.UsersComposeActivity" />
        <activity android:name=".frontend.Chat.chat.ChatActivity"/>
        <activity android:name=".frontend.Chat.chat.ChatComposeActivity"/>

        <activity android:name=".frontend.conference.conference_screen.ConferenceActivity"/>
        <activity android:name=".frontend.conference.conference_screen.ConferenceComposeActivity"/>


        <activity android:name=".frontend.conference.general_conference.GeneralConferenceActivity" />
        <activity android:name=".frontend.conference.general_conference.GeneralConferenceComposeActivity" />

        <activity android:name=".frontend.career.CareerChatActivity" />
        <activity android:name=".frontend.career.CareerChatComposeActivity" />

        <service
            android:name=".extras.FCMTokenService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />
    </application>

</manifest>